.pay {
    &-title {
        font-size: 26px;
        margin: 20px;
        font-weight: 600;
    }
}

.delivery {
    border: 1px solid var(--cultured);
    padding: 15px;
    border-radius: var(--border-radius-md);
    overflow-y: scroll;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.delivery-main {
    padding: 0 30px;
}
.delivery {
    &-btn {
        padding: 10px 5px;
        cursor: pointer;
        border-bottom: 1px solid var(--cultured);
    }

    &-box {
        border: 1px solid var(--cultured);
        padding: 15px;
        border-radius: var(--border-radius-md);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    }
}

.ordersummary {
    border: 1px solid var(--cultured);
    padding: 15px;
    border-radius: var(--border-radius-md);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.mt-30 {
    margin-top: 30px;
    margin-bottom: 50px;
}
.button-payment {
    background: linear-gradient(90deg, #008eff, #fa5c5c);
    border: 0;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 10px 20px;
}
.button-payment:hover {
    background: linear-gradient(to right, #4caeff, #03f2ff);
}
.div-payment {
    display: flex;
    gap: 0 30px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}

.complete-title {
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    display: table-header-group;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn nội dung vượt ra khỏi khung chứa */
    animation: marquee 8s linear infinite; /* Tốc độ chạy và lặp vô hạn */
    transition: background-color 0.3s ease;
    background: linear-gradient(to left, #008eff, #f60000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.complete-title:hover {
    background: linear-gradient(to right, #4caeff, #03f2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.complete-content {
    margin: 30px auto;
    width: 400px;
    height: 400px;
}
.complete-content img {
    width: 100%;
    height: 100%;
}
