.card {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 6px;
    overflow: hidden;

    .headline {
        font-size: 1rem;
        font-weight: 600;
        color: var(--main-text);
        line-height: 1rem;
        user-select: none;
        background-image: var(--primary);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    .calendar-box {
        background: var(--white);
        border: 3px solid var(--main-text);
        border-radius: 4px;

        .action-btn {
            font-family: var(--font-family);
            font-size: 1.1rem;
            font-weight: 500;
            width: 50%;
            height: 100%;
            padding: 0.2rem 3.1rem;
            cursor: pointer;
            user-select: none;
        }
        .action-btn:hover {
            background: var(--primary);
            color: var(--white);
        }
    }
    .loading {
        animation: spinner 0.8s linear infinite;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
