/* <!-- Start Customer Reviews --> */
.directory-name-h1 {
    font-size: 28px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: var(--black);
}
.customerReviews-wrapper {
    display: grid;
    grid-template-rows: 10% 62%;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
}

.customerReviews-wrapper .total {
    display: grid;
    grid-template-columns: 30% 70%;
}

.customerReviews-wrapper .total .total-Rating .rating-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.customerReviews-wrapper .total .total-Rating .ratingHeader-number {
    font-size: 60px;
    font-weight: bolder;
    height: 70px;
}

.customerReviews-wrapper .total .total-Rating .ratingHeader-star i {
    color: #eabe12;
    margin-top: 5px;
    font-size: 20px;
}

.customerReviews-wrapper .total .total-Rating .ratingHeader-reviews {
    margin-top: 5px;
    font-size: 15px;
    color: var(--fontcolor);
    font-weight: bolder;
}

.customerReviews-wrapper .total .total-Rating .rating-main {
    margin-top: 20px;
}

.customerReviews-wrapper .total .total-Rating .rating-main .rating-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 8px;
    place-items: center;
    margin-top: 8px;
    overflow: hidden;
}

.customerReviews-wrapper .total .total-Rating .rating-main .rating-items .stars-area {
    height: 21px;
}

.customerReviews-wrapper .total .total-Rating .rating-main .rating-items .stars-area i {
    color: #eabe12;
    margin-right: 0px;
    font-size: 16px;
}



.customerReviews-wrapper .total .total-Rating .rating-main .rating-five .quantity-area span {
    font-size: 17px;
    font-weight: bolder;
    color: #191717;
}


.customerReviews-wrapper .total .total-Rating .rating-main .quantity-area span {
    font-size: 17px;
    font-weight: bolder;
    color: var(--fontcolor);
}

.customerReviews-wrapper .total .review-form-wrapper {
    height: 100%;
    margin: 0 40px;
}

.customerReviews-wrapper .total .review-form-wrapper .review-title {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.customerReviews-wrapper .total .review-form-wrapper .review-form {
    margin-top: 35px;
    color: var(--black);
    font-weight: bolder;
    font-size: 16px;
    display: grid;
    gap: 20px 0;
}

.customerReviews-wrapper .total .review-form-wrapper .review-form .comment-notes .notes {
    color: var(--fontcolor);
}

.customerReviews-wrapper .total .review-form-wrapper .review-form .comment-form-comment,
.comment-form-author,
.comment-form-email {
    display: grid;
    grid-column: inherit;
    gap: 10px 0;
}

textarea {
    max-width: 100%;
    border: var(--icon-down) solid 1px;
    border-radius: 35px;
    background-color: var(--white);
    box-shadow: none;
    color: var(--fontcolor);
    vertical-align: middle;
    font-size: 15px;
    padding: 20px;
}

input[type='checkbox'] {
    background-color: var(--bcg-buy);
}

.customerReviews-wrapper .total .review-form-wrapper .review-form .form-submit .submit {
    padding: 5px 20px;
    min-height: 42px;
    border-radius: 35px;
    background-color: #c62323b5;
    color: white;
    border: none;
    cursor: pointer;
}

.customerReviews-wrapper .total .review-form-wrapper .review-form .form-submit .submit:hover {
    background-color: #bc1313dd;
}

.review-card {
    width: 85%;
    background-color: rgb(255, 255, 255);
    border: #979494c0 solid 1px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.form-submit {
    cursor: pointer;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

.font {
    font-family: 'Poppins', sans-serif;
}
.label-comment {
    font-weight: inherit;
}
.font-semibold {
    font-weight: 600 !important;
}
.card-top,
.comment-profile {
    display: flex;
    align-items: center;
}
.card-top {
    justify-content: space-between;
}
.comment-profile-name {
    margin-left: 20px;
    line-height: 22px;
}
.comment-profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
}
.comment-profile-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.likes i {
    margin-top: 10px;
    color: #eabe12;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.comment-date {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 15px;
    font-size: 18px;
    color: var(--fontcolor);
}
.card-footer,
.card-main p {
    margin-top: 10px;
    color: var(--fontcolor);
}
.card-main p {
    font-size: 16px;
    padding: 10px;
}
.px-\[20px\] {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.mb-\[10px\] {
    margin-bottom: 10px !important;
}
.pb-\[40px\] {
    padding-bottom: 40px !important;
}
.swiper-horizontal {
    touch-action: pan-y;
}
.swiper,
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
    transform: translateZ(0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden;
}
.swiper-slide,
swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}
.bg-\[\#f8f8f8\] {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(248 248 248 / var(--tw-bg-opacity)) !important;
}

.rounded-lg {
    border-radius: 0.5rem !important;
    padding: 10px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}

.swiper-pagination-lock {
    display: none;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: opacity 0.3s;
    transform: translateZ(0);
    z-index: 10;
}

/* responsive */
@media (max-width: 1400px) {
}

@media (max-width: 992px) {
    .customerReviews-wrapper {
        display: grid;
        grid-template-rows: 1fr;
        margin: 80px 20px;
        background-color: var(--bcg-detail-color);
        border-radius: 5px;
        padding: 20px;
        height: auto;
    }

    .customerReviews-wrapper .total {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px 0;
    }

    .customerReviews-wrapper .total .review-form-wrapper {
        height: auto;
        margin: 0;
    }

    .customerReviews-wrapper .comments-area .review-box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        margin-top: 25px;
        gap: 18px 0;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 450px) {
}
